.footer__list{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    list-style: none;
    gap: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
}


.footer__list li:not(:first-child){
    display: grid;
    gap: 10px;
    
}


.footer__social{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    
}


.footer__social li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.footer__social li:first-child{
    background-color:#0CA941;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}


.footer__list a{
    text-decoration: none;
}


.footer p,
.footer h3,
.footer h2,
.footer a{
    color: #374A3D;
    font-family: Fredoka One;
    /* font-size: 30px; */
    font-style: normal;
    /* font-weight: 400; */
    line-height: 40px; /* 133.333% */
    font-variant: small-caps;
}


.footer p,
.footer a{
    font-size: 25px;
    margin: 0;
}


.footer h3{
    font-size: 25px;
}


.footer h2{
    font-size: 25px;
    text-align: center;
}

