/* .header__container{
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 30px;
    margin-right: 215px;
    margin-left: 215px;
} */


.container{
    max-width: 1600px;
    width: 1170px;
    margin: 0 auto;
}


.wrapper__header{
    background: linear-gradient(0.25turn, rgba(83, 195, 81, 0.33), #fff, rgba(255, 238, 150, 0.33));
    /* max-width: 1600px; */
    /* width: 1600px; */
}


.header__container{
    position: relative;

}


.header__container .header__flower{
    /* margin-left: -200px; */
    position: absolute;
    left: -140px;
    background: transparent;

}


.menu__wrapper{
    display: grid;
    grid-template-columns: 10fr 1fr 9fr;
    gap: 55px;
    /* background-color: red; */
    align-items: center;
    margin-left: 135px;
}


.text__green-beautiful-garden{
    color: #0CA941;
    font-family: Fredoka One;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 76px;
    font-variant: small-caps;
    
}


.logo{
    display: flex;
    max-height: 40px;
    align-items: center;
}


.menu__list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    /* margin: 0; */
    /* border: 2px solid; */
}


.login{
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    align-self: center;
}


.login__button{
    border-radius: 6px;
    background: #0CA941;
    /* width: 110.166px; */
    /* height: 41.528px; */
    padding: 10px 32px;
    text-decoration: none;
}


.menu__item a,
.login{
    color: #374A3D;
    font-family: Fredoka One;
    /* font-size: 30px; */
    font-style: normal;
    /* font-weight: 400; */
    line-height: 40px; /* 133.333% */
    font-variant: small-caps;
}


.menu__item a,
.login{
    font-size: 25px;
}


.menu__item a{
    margin-right: 35px;
    text-decoration: none;
    padding: 5px;
}


.menu__item a:hover{
    color:#0CA941;
}


.menu__item a:visited{
   color:#0CA941; 
}


.login:hover{
    box-shadow: 5px 6px 19px rgba(12, 169, 65, 0.4);
    transition: all 1s ease-out;
}